name: Example

on:
  pull_request:
  push:
    branches: main

# explicit permissions so Dependabot can run this
permissions:
  contents: read
  statuses: write

jobs:
  example:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./
